@import "./configs";

.app {
  font-family: "Roboto", sans-serif;
  padding: 1em;
  text-align: center;

  .loading-icon.page {
    width: 15em;
    display: inline-block;
    margin-top: 2em;
  }

  .page-title {
    font-size: 2em;
    padding-bottom: 0.5em;
    font-weight: bold;
    color: $primary-color;
  }
}