@import "./configs";

.home-page {
  .home-page-title {
    font-size: 2em;
    padding-bottom: 0.5em;
    font-weight: bold;
    color: $primary-color;
  }

  .loading-icon {
    width: 15em;
    display: inline-block;
    margin-top: 2em;
  }
}