@import "./configs";

.merge-dialog {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.8);
  padding: 5em;

  .merge-dialog-box {
    background-color: white;
    min-width: 50%;
    display: inline-block;
    border-radius: 0.5em;

    .merge-dialog-title {
      font-size: 1.5em;
      padding: 0.5em;
      font-weight: bold;
    }

    .loading-icon {
      width: 9em;
      padding: 1em;
      display: inline-block;
    }

    .merge-message {
      width: 80%;
      height: 4em;
      font-size: 1.2em;
      padding: 0.5em;
      resize: none;
    }

    .button {
      padding: 0.4em;
      font-size: 1.2em;
      margin: 1em 2em;
      border-radius: 0.2em;
      cursor: pointer;

      &:hover {
        background-color: $secondary-color;
      }
    }
  }
}