@import "./configs";

.open-pull-request {
  display: flex;

  .pull-request-card {
    flex: 1;
  }

  .merge-status {
    align-items: center;
    display: inline-flex;

    .merge-disabled, .merge-enabled {
      border: 1px solid black;
      padding: 0.5em;
      border-radius: 0.1em;
    }

    .merge-disabled {
      cursor: not-allowed;
      color: white;
      background-color: darkred;
      border-color: darkred;
    }

    .merge-enabled {
      background-color: darkgreen;
      color: $primary-complementary-color;
      cursor: pointer;
      border-color: transparent;

      &:hover {
        background-color: lawngreen;
        color: $primary-color;
        transition: 0.4s;
      }
    }
  }
}