@import "./configs";

.repository-card {
  text-decoration: none;
  color: $primary-color;
  padding: 0.5em;
  display: inline-block;
  min-width: 15em;
  border: 1px solid $secondary-complementary-color;
  margin: 0.5em;
  border-radius: 0.2em;
  box-shadow: 0.2em 0.2em 1em 0 rgba(0, 0, 0, 0.2);

  &:hover {
    background-color: $secondary-color;
    border-color: $secondary-color;
    color: $primary-complementary-color;
    transition: 0.4s;
  }
}